body {
    margin: 0px;
    background-image: url('./real2.png');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.title {
    background-color: gray;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.ttitle {
    margin: 2%;
    text-align: center;
    font-size: 40px;
}

.home {
    background-color: rgb(168, 145, 145);
    padding: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    color: black;
}

.bar-link {
    color: gainsboro;
    margin: 2%;
    padding: 10px;
    font-size: 2ex;
    box-shadow: 0px 0px 3px black;
}

.bar-link:hover {
    box-shadow: 0px 0px 9px black;
}

.content {
    box-shadow: 3px 3px 5px white;
    width: 50%;
    outline: auto;
    position: absolute;
    padding: 10px;
    background-color: black;
}

.nr1 {
    left:1%;
}
.nr2 {
    left:45%;
    top:570px;
}
.nr3 {
    left: 1%;
    top: 1000px;
}
.nr4 {
    left:45%;
    top:1600px;
}

.kidlink {
    color: white;
    font-size: 25px;
    shadow: 2px 2px 2px black;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px;
}

.kidlink:hover {
    color: yellow;
    font-weight: bold;
}

.klinkcontent {
    padding: 20px;
    text-align: center;
}

.secret {
    color: white;
    text-decoration: none;
}