body {
    margin: 0px;
    background-color: black;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: white;
}

.ttitle {
    margin: 2%;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    background-color: rgb(168, 145, 145);
    padding: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    color: black;
}

a {
    color: gainsboro;
    margin: 2%;
    padding: 10px;
    font-size: 2ex;
    box-shadow: 2px 2px 3px rgb(93, 93, 93);
}

a:hover {
    box-shadow: 3px 3px 5px black;
}