body {
    margin: 0px;
    background-image: url('./real2.png');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.title {
    background-color: gray;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.ttitle {
    margin: 2%;
    text-align: center;
    font-size: 40px;
}

.home {
    background-color: rgb(168, 145, 145);
    padding: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    color: black;
}

a {
    color: gainsboro;
    margin: 2%;
    padding: 10px;
    font-size: 2ex;
    box-shadow: 2px 2px 3px rgb(93, 93, 93);
}

a:hover {
    box-shadow: 3px 3px 5px black;
}

.content {
    box-shadow: 3px 3px 5px white;
    width: 50%;
    outline: auto;
    position: absolute;
    padding: 10px;
    background-color: black;
}

.nr1 {
    left:1%;
}
.nr2 {
    left:45%;
    top:530px;
}
.nr3 {
    left 1%;
    top: 1000px;
}